
.wrapper {
  width: 100%;
  position: relative;
  z-index: 9999;
  height: 10px;
}

.navbar {
width: 100%;
overflow: auto;
}

.navbar a {
float: left;
padding: 20px;
color: white;
text-decoration: none;
font-size: 17px;
width: 20%; /* Four links of equal widths */
text-align: center;
}

.navbar a:hover {
background: rgb(0, 0, 0);
background: rgba(100, 100, 100, 0.25);
}


/* the logo, which isn't a link */
a.disabled {
  pointer-events: none;
}

/* the menu items, that are usually hidden */
#hidden_div {
  width: 60%;
  display:none;
  
}

#hidden_div a {
  width: 30%; /* Four links of equal widths */
  text-align: center;
}

/* control styling if window is small */
@media screen and (max-width: 750px) {
  
  #hidden_div {
    display:block;
    width:100%;
  }

    .disabled {
      position: fixed;
      left: 70%;
      bottom: 0px;
    }

    #menu_btn {
      display: none;
    }
}



.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* left side ("studio")*/
  .left {
    left: 0;
    background-image: url("img/orchestra.jpg");
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* right side ("live") */
  .right {
    right: 0;
    background-image: url("img/percussion.jpg");
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

 
 
 a:hover p{
    color: white;
    text-decoration: underline;
 }

 
