@font-face {
  font-family: AnaheimGothic;
  src: url(AnaheimGothic.otf);
}

html h1 {
  font-family: AnaheimGothic;
  color: white;
}

h1 {
  font-size: 35px !important;
}

.float_container {
  top:0;
  position: absolute;
  display: flex;
  min-height: 400px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.split {
    height: 100vh;
    width: 50vw;
    overflow: hidden;
  }
  
  .left, .right {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all 1s;
  }
  /* left side ("studio")*/
  .left {
    float: left;
    background-image: url("img/Etusivu\ studio.001.jpeg");
    background-color: rgb(44, 57, 92);
  }
  
  /* right side ("live") */
  .right {
    float: right;
    right: 0;
    background-image: url("img/Etusivu\ live.001.jpeg");
    background-color: rgb(143, 76, 76);
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #container_studio_side:hover > .right {
    background-blend-mode: lighten;
    transform: scale(1.1);
  }

  #container_live_side:hover > .left {
    background-blend-mode: lighten;
    transform: scale(1.1);
  }

 a:hover p{
    color: white;
 }

.logo_container {
  position: absolute;
  top: 0;
  left: 5%;
  text-align: center;
}

a.to_front_page:hover {
  background: none;
}

 .center_on_left_side {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center_on_right_side {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.quote {
  position: fixed;
  width: 30%;
  bottom: 10px;
  right: 10px;
}
