html {
    scroll-behavior: smooth;
}

#main_img_box {
  position: relative; 
  left: 0; 
  top: 0;
  height: 100%;

  background-image: url("img/lastofus.png");
  height: 100vh; 
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: block;
  padding-top: 3vh;
  margin: 0 auto;
}

img.arrow {
  position: fixed;
  display: block;
  margin: auto;
  bottom: 8%;

 
}

.arrow:hover {
  cursor: pointer;
}

.window {
  background-color: white;
}

#info {
  height: 60vh;
}

#live {
  height: 100vh;
  background-image: url("img/orchestra.jpg");
  background-position: center;


  display: flex;
  justify-content: center;
  align-items: center;
}

#live_link {
  flex: 0 0 380px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(100, 100, 100, 0.35); /* Black background with 0.5 opacity */

  padding: 20px; 
  margin: auto;
}

#live_link:hover {
  cursor: pointer;
  background: rgba(100, 100, 100, 0.5);
}

#studio {
  height: 100vh;
  background-image: url("img/percussion.jpg");
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  background-color: white; 
  height: 250px;
  display: block;
  position: absolute;
  width: 100%;
}

#social_media {
  width: 300px;
  display: block;
  margin: auto;
}

.media {
  width: 100px;
  float: left;
  padding-left: 20px;
}